[submodule "sqleyes"]
	path = sqleyes
	url = git@github.com:SQLEyes/sqleyes.git
[submodule "engine"]
	path = engine
	url = git@github.com:SQLEyes/engine.git
[submodule "plugin-postgresql"]
	path = plugin-postgresql
	url = git@github.com:SQLEyes/plugin-postgresql.git
